@page
@model IndexModel
@{
	ViewData["Title"] = "About me";
}

<div class="container ps-5 pe-5">
	<div class="row">
		<div class="col-lg-4 ">
			<div class="card text-bg-secondary shadow-lg mt-3 rounded bg-secondary">
				<img src="./images/Shitty Profile Pic.jpg" class="card-img-top img-fluid" alt="...">
				<div class="card-body bg-black">
					<h5 class="card-title">Quick info</h5>

					<ul class="list-unstyled">
						<li><i class="fas fa-home"></i> Geldrop</li>
						<li><i class="fas fa-birthday-cake"></i> 16-09-1998</li>
						<li>
							<i class="fas fa-book-open"></i><a href="https://www.linkedin.com/in/maarten-van-de-goor-452953253/" target="_blank"
												 class="text-reset text-decoration-none"> LinkedIn</a>
						</li>
						<li>
							<i class="fas fa-cloud"></i><a href="https://github.com/MaartenvdGoor" target="_blank"
											 class="text-reset text-decoration-none"> Github</a>
						</li>
					</ul>
					<br><br>
				</div>
			</div>
		</div>

		<div class="col-lg-8 ">
			<h1 class="mt-2 text-center">About me</h1>
			<div class="card text-bg-secondary shadow-lg p-0 mb-3 mt-2 rounded bg-secondary">
				<div class="card-body bg-black">
					<h1 class="card-title">Welcome!</h1>
					Welcome to my Portfolio.
					<br>
					<br>
					<p>
						Hello my name is Maarten van de Goor. Born in September 1998 and still living where I
						was born in Geldrop, The Netherlands.  After my failed attempt at becoming a
						schoolteacher I had to think about what I wanted to do. The IT world was kind of obvious
						as I have always been interested in computers and tech. after looking around I decided
						on becoming a software developer. After studying a couple years at FONTYS in Eindhoven I
						decided to change schools and enroll in SINT-LUCAS. At these 2 schools I’ve sharpened my
						skills in multiple languages and other aspects of the software development world. Im
						especially experienced in C#, HTML, CSS, UNITY, SQL and I know the basics of JS and PHP.
						If you decide to hire me as an intern you will get a motived person who is willing to
						learn. Im good with deadlines and I am willing to go the extra mile to gain as much
						experience as I can.


					</p>
					

				</div>

			</div>
			<h1 class="text-center">My experience</h1>
			<div class="row">
				<div class="col-md-3">
					<div class="card  text-bg-secondary shadow-lg p-3 mb-3 mt-2 rounded bg-black">
						<img src="./images/CSharp.png" class="card-img-top img-fluid" alt="...">
						<hr>
						<div class="card-body text-center ">
							<h6>4 Years experience</h6>
						</div>

					</div>
				</div>
				<div class="col-md-3">
					<div class="card  text-bg-secondary shadow-lg p-3 mb-3 mt-2 rounded bg-black">
						<img src="./images/html.png" class="card-img-top img-fluid" alt="...">
						<hr>
						<div class="card-body text-center ">
							<h6>4 Years experience</h6>
						</div>

					</div>
				</div>
				<div class="col-md-3">
					<div class="card  text-bg-secondary shadow-lg p-3 mb-3 mt-2 rounded bg-black">
						<img src="./images/javascript.png" class="card-img-top img-fluid" alt="...">
						<hr>
						<div class="card-body text-center ">
							<h6>4 Years experience</h6>
						</div>

					</div>
				</div>
				<div class="col-md-3">
					<div class="card  text-bg-secondary shadow-lg p-3 mb-3 mt-2 rounded bg-black">
						<img src="./images/unity.png" class="card-img-top img-fluid" alt="...">
						<hr>
						<div class="card-body text-center ">
							<h6>4 Years experience</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
